#About{
    height: max-content;
    width: 100vw;
    overflow-x: hidden;
    padding: 2rem 1rem;
    background-color: #f1f1f1;

}
#About__Container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    section {
        width: 45%;
    }
    h1 {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 1rem;
        color: var(--secondary-color);
    }
    @media screen and (max-width:1024px) {
        flex-direction: column;
        gap: 4rem;

        section {
            width: 70%;
            margin: auto;
        }
    }
}
.About__Container-profile {
    color: rgb(80, 83, 83); 

    p {
        font-size: 1rem;
    }
}

.About__Container-skills {
    text-align: center;
    p {
        margin-bottom: 2rem;
    }
}

.About__Container-skillsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;

    figure {
        min-width: 8rem;
        flex-basis: 25%;
        height: 10vh;
        border-radius: 10px;

        img {
            height: 100%;
            border-radius: 10px;
        }
        &:last-child {
            img {
                height: 90%;
            }
        }
    }
}
.About__links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 5rem 0 0 0;

    a {
        width: max-content;
        font-family: inherit;
        padding: .8rem 2rem;
        border-radius: 5px;
        border: none;
        font-size: 1rem;

        &:first-child{
            background-color: black;
            color: var(--secondary-color);

            &:hover {
                background-color: var(--secondary-color);
                color: black;
                transition: .3s all ease-in-out;
            }
        }
        &:nth-child(2){
            border: 1px solid var(--secondary-color);
            &:hover {
                background-color:black;
                color: var(--secondary-color);
                transition: .3s all ease-in-out;
            }
        }
        &:hover {
            cursor: pointer;
        }

        @media screen and (min-width:1024px) {
            padding: 1.2rem 5rem;
        }
    }
}