#Hero {
    // background-image: url("../../Assets/stars.jpg");
    width:100vw;
    opacity: 0.97;
    height:88vh;
    color:black;
    overflow-x:hidden;
    background-size:cover;
    background-color:black;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 4rem;
    color: white;

    a:hover{
        transition: .4s all ease-in-out ;
        border-color: var(--secondary-color);
    }
    a{
        transition: all .5s ease-in-out;
    }
}

#Hero__Text-Container {
    display:flex;
    flex-direction:column;
    gap: 1rem;
    color:white;
    padding:.5rem;
    // outline: 2px solid wheat;

    :first-child{
        color:var(--secondary-color);
        font-size: 2rem;
    }
    :nth-child(2){
        font-size:8rem;

        @media (max-width:1024px){
            font-size: 7rem;
        }
        @media (max-width:668px){
            font-size: 5rem;
        }
        @media (max-width:468px){
            font-size: 5rem;
        }
    }
    :nth-child(3){
        font-size:1rem;
    }
    :nth-child(4){
        margin-top: 4rem;
    }
}

.Hero__link-aboutMe {
    width: max-content;
    border: 2px solid white;
    border-radius: 20px;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
}