#Hero {
    // background-image: url("../../Assets/stars.jpg");
    width:100vw;
    opacity: 0.97;
    height:88vh;
    color:black;
    overflow-x:hidden;
    background-size:cover;
    background-color:black;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 4rem;
    color: white;

    a:hover{
        transition: .4s all ease-in-out ;
        border-color: var(--secondary-color);
    }
}

#Hero__Text-Container {
    display:flex;
    flex-direction:column;
    color:white;
    padding:.5rem;

    :first-child{
        color:var(--secondary-color);
        font-size: 2rem;
    }
    :nth-child(2){
        font-size:8rem;
        margin: .5rem 0;

        @media (max-width:1024px){
            font-size: 7rem;
        }
        @media (max-width:668px){
            font-size: 5rem;
        }
        @media (max-width:468px){
            font-size: 5rem;
        }
    }
    :nth-child(3){
        font-size:1rem;
        margin: .5rem 0;
    }
    :nth-child(4){
        margin: 2rem 0 4rem 0;
    }
}

.Hero__link-aboutMe {
    width: max-content;
    border: 2px solid white;
    border-radius: 20px;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
}
.Hero-icons {
    display: flex;
    align-items: center;
    gap: 2rem;
    svg{
        // background-color: white;
        // width: 40%;
        color: white;
        height: 5vh;
        border-radius: 50%;
        cursor: pointer;
    }
}